@font-face {
  font-family: "Noto-sans";
  src: url(assets/fonts/NotoSans-VariableFont_wdth\wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
  background-size: cover;
  background-position: top;

  color: #fff;
  font-family: "Noto sans", sans-serif;
}
.body.light {
  background: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  color: #000000;
}

.wrapper {
  width: 1200px;

  padding: 20px 0 50px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.header.light {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.theme-logo {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 7px 20px;
  border-radius: 8px;
  background-image: url(assets/images/icon-sun.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.theme-logo.light {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(assets/images/icon-moon.svg);
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 20px 0;
}
h2 {
  font-size: 30px;
  font-family: "Noto sans", sans-serif;
}
.filter ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.filter ul li {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 20px;
}
.filter ul li.active {
  background-color: #db3e35;
}

.extensions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: 15px;
}

.extension {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid greenyellow;
  width: 390px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  background-color: rgba(220, 220, 220, 0.07);
}
.extension img {
  width: 70px;
}
.extension p {
  font-size: 15px;
}

.extension.light {
  background-color: #fff;
  border: 0.1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.logo-name {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 35px;
}

.logo-name h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.btns {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  cursor: pointer;
  padding: 8px 17px;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.remove-btn.light {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.remove-btn.active,
.remover-btn:hover {
  background-color: #db3e35;
  color: #040918;
}

.activator-btn {
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 32px;
  border: none;
  display: flex;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}
.activator-btn.light {
  background-color: rgba(0, 0, 0, 0.2);
}

.activator-btn.active {
  background-color: #de473f;
  justify-content: flex-end;
}
.activator-btn span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
